@model IEnumerable<CRM.Entities.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
    int counter = 0;
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nuPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adEmailPersonal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{ 
                    counter++;
                }@counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameStaff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nuPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adEmailPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.nuAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.nmStore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idStaff">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idStaff">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
