@model CRM.Entities.Ticket

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.deTicket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deTicket)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dtOpening)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dtOpening)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dtClosing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dtClosing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dtDue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dtDue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.staffAssignedTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.staffAssignedTo.adEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ticketStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketStatus.deTicketStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idTicket" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
