@model IEnumerable<CRM.Entities.Address>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.disctrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nuAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cityAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.disctrict)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nuAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cityAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.abbrevationCountry)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idAddress">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idAddress">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idAddress">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
