@using CRM.Entities
@{
    ViewData["Title"] = "Index";
    var tickets = ViewData["CurrentTickets"];
    var statisticsTickets = ViewData["statisticsTickets"];
    var statisticsYear = ViewData["statisticsYear"];
    IList<Ticket> ticketList = new List<Ticket>();
    IList<int> statisticsList = new List<int>();
    IList<int> yearList = new List<int>();
    if (tickets != null)
    {
        ticketList = (IList<Ticket>)tickets;
    }
    if (statisticsTickets != null)
    {
        statisticsList = (IList<int>)statisticsTickets;
    }
    if (statisticsYear != null)
    {
        yearList = (IList<int>)statisticsYear;
    }
    Layout = "/Views/Shared/_Master.cshtml";
}

<h2>Index</h2>
<div class="widget-list row">
    <div class="widget-holder widget-full-height widget-flex col-lg-12">
        <div class="widget-bg">
            <div class="widget-heading">
                <h5 class="widget-title">Statistics</h5>
                <div class="widget-graph-info">
                    @*<div class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle text-muted fs-16" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="index.html#">Action</a>  <a class="dropdown-item" href="index.html#">Another action</a>  <a class="dropdown-item" href="index.html#">Something else here</a>
                            </div>
                        </div>*@
                </div>
                <!-- /.widget-graph-info -->
            </div>
            <!-- /.widget-heading -->
            <div class="widget-body">
                <div class="mr-t-10 flex-1">
                    <div >
                        <partial name="/Views/Ticket/_List.cshtml" for="@ticketList" />
                    </div>
                </div>
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>
</div>
<div class="widget-list row">
    <partial name="/Views/Shared/_GraphPartial.cshtml"/>
    <partial name="/Views/Shared/_GraphPartial2.cshtml" />
</div>





@section Scripts{
    @if (statisticsList.Count != 0)
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
        <script>
        var ctx = document.getElementById('myChart');
        var data = {
            labels: ['Open', 'Completed', 'Closed'],
            datasets: [{
                label: '# of Tickets',
                data: [@statisticsList[0], @statisticsList[1], @statisticsList[2]],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        };
        var options =  {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                        }
                }]
            }
        };
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options
        });
            var yearly = document.getElementById('yearly');
            var data = {
            labels: ['Open', 'Completed', 'Closed'],
            datasets: [{
                label: '# of Tickets',
                data: [@yearList[0], @yearList[1], @yearList[2]],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
            };
            var myPieChart2 = new Chart(yearly, {
            type: 'pie',
            data: data,
            options: options
        });
        </script>
    }
}
